body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}

.container {
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: lightgray;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid black;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  width: 80%;
  max-width: 300px;
}

.btn {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
